.d6 {background: #95d6bf;}
.d6 form {
    height: 42px;
}
.d6 input {
    /*height: 8%;*/
    width: 0px;
    padding: 5px 40px 2px 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 2;
    color: #f186a0;
;
}
.d6 input:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #f186a0;
}
.d6 div {
    background: #F9F0DA;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    position: absolute;
    top: 1.5px;
    right: 5px;
    cursor: pointer;
}
/*.d6 img:before {*/
/*    !*content: "\f002";*!*/
/*    !*font-family: FontAwesome;*!*/
/*    font-size: 16px;*/
/*    color: #f186a0;*/
/*}*/