.editH {
    color: red;
}

.item{
    padding-bottom: 10px;
}

.itemRadio{
    padding-bottom: 3px;
}

.button {
    padding: 10px 20px;
    width: 140px;
    display: block;
    margin: 20px auto;
    font-size: 1.1em;
}

.title{
    font-size: 1.3em;
    padding: 5px;
}