.container {
    background: url("cookiesImage.jpg") 80% 55% no-repeat fixed;
    background-size: cover;
    padding-bottom: 200px;
    text-align: center;
    position: relative
}
.text {
    width: 75%;
    color: #95d6bf;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    font-weight: bold;
}