.navWrap {
    grid-area: nav;
    padding: 20px;
    border-right: 1px solid #000000;
}

.item {
    padding-left: 15px;
}
.itemLink {
    text-decoration: none;
    color: #000000;

}
.active {
    font-weight: 700;
}