.container {
    background: url("cupcake.jpg") 80% 55% no-repeat fixed;
    background-size: cover;
    padding-bottom: 200px;
    text-align: center;
    position: relative;
    margin: 50px 0;
}
.text {
    width: 75%;
    /*margin: 0 auto;*/
    color: antiquewhite;
    text-transform: uppercase;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    font-weight: bold;
}
.name {
    text-align: center;
    color: #f186a0;
}
.btnDetails {
    color: cornflowerblue;
    text-align: right;
}