.container {
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("candies.jpg") no-repeat 80% 55% fixed;
    background-size: cover;
    padding-bottom: 200px;
    text-align: center;
    position: relative;
    margin: 30px 0;
}

.text {
    width: 75%;
    /*margin: 0 auto;*/
    color: antiquewhite;
    text-transform: uppercase;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    font-weight: bold;
}